{# Explicit configuration definition, config vars and rendering logic can be added if needed #}
{% raw -%}
!
system l1
   unsupported speed action error
   unsupported error-correction action error
{% endraw %}