{% include 'partial/aaa.j2' %}
{% include 'partial/username.j2' %}
{% include 'partial/transciever.j2' %}
{% include 'partial/service-routing-protocols-model.j2' %}
{% include 'partial/hostname.j2' %}
{% include 'partial/spanning-tree.j2' %}
{% include 'partial/system-l1.j2' %}
{% include 'partial/management-api.j2' %}
{% include 'partial/interfaces.j2' %}
{% include 'partial/ip-routing.j2' %}
{% include 'partial/bgp.j2' %}
{% include 'partial/static-routes.j2' %}