{% if action == 'deploy' %}
clab deploy --reconfigure -t "{{ infra.dev.path }}/{{ infra.dev.topology }}/{{ infra.dev.topology_file }}"
{% else %}
clab destroy -t "{{ infra.dev.path }}/{{ infra.dev.topology }}/{{ infra.dev.topology_file }}"
{% endif %}